<%- include("partials/header")%>
<div class="achievement-page">
  <div class="achievement-header">
    <h1>Achievements</h1>
    <hr>
  </div>
  <div class="achievement-content">
    <div class="row justify-content-center">
      
      <div class="col-lg-3 col-sm-12">
        <div class=" card achievement-cards">
          <h1 class="achievement-icons"><i class="fa-solid fa-graduation-cap fa-beat-fade fa-2xl "></i></h1>
          <hr>
          <p>Selected for SMART INDIA HACKTHON 2022 at College level.</p>
        </div>
      </div>
      <div class="col-lg-3 col-sm-12">
        <div class=" card achievement-cards">
          <h1 class="achievement-icons"><i class="fa-solid fa-star fa-beat-fade" style="color: #3486ea;"></i><i class="fa-solid fa-star fa-beat-fade" style="color: #3486ea;"></i><i class="fa-solid fa-star fa-beat-fade" style="color: #3486ea;"></i></h1>
          <hr>
          <p>Highest rating 1633 and achieved 3-star at Codechef in 2023.</p>
        </div>
      </div>
      <div class="col-lg-3 col-sm-12">
        <div class=" card achievement-cards">
          <h1 class="achievement-icons"><i class="fa-solid fa-medal fa-beat-fade" style="color: #22511f;"></i></h1>
          <hr>
          <p>Top 10 Rank holder on Geeksforgeeks in my College.</p>
        </div>
      </div>
      <div class="col-lg-3 col-sm-12">
        <div class=" card achievement-cards">
          <h1 class="achievement-icons"><i class="fa-solid fa-star fa-beat-fade" style="color: #3486ea;"></i><i class="fa-solid fa-star fa-beat-fade" style="color: #3486ea;"></i><i class="fa-solid fa-star fa-beat-fade" style="color: #3486ea;"></i><i class="fa-solid fa-star fa-beat-fade" style="color: #3486ea;"></i></h1>
          <hr>
          <p>Achieved 4-star at Hackerrank.</p>
        </div>
      </div>
      
      
    </div>
  </div>
</div>
<%- include("partials/footer")%>