<%- include("partials/header")%>
<div >
  <div class="education-header">
    <h1>Education</h1>
  <hr>
  </div>
  <div class="education-content">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-12 col-sm-12 ">
        <div class="card cards">
          <h2>B-Tech in Computer Science</h2>
        <h4>Darbhanga College Of Engineering,Darbhanga</h4>
        <p><i class="fa-solid fa-calendar-days"></i> October 2020-Present[Expected: October 2024]</p>
        <p>CGPA : 8.36 (till 4th sem)</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 ">
        <div class="card cards">
          <h2>Intermediate (BSEB)</h2>
        <h4>Sachidananda Sinha College,Aurangabad</h4>
        <p><i class="fa-solid fa-calendar-days"></i><span> [2018-2020] </span></p>
        <p>Percentage : 84</p>
        </div>
      </div>
      <div class="col-lg-6 ">
        <div class="card cards">
          <h2>Matriculation (BSEB)</h2>
        <h4>Ashoka Inter School,Daudnagar</h4>
        <p><i class="fa-solid fa-calendar-days"></i>[2018]</p>
        <p>Percentage : 84</p>
        </div>
      </div>

    </div>

  </div>
</div>
<%- include("partials/footer")%>