<%- include("partials/header")%>


<section class="home" id="home">
  <div class="row home-page">
    <div class=" col-lg-7 col-md-12 col-sm-12 home-content">
      <h3>Hello, it's Me!</h3>
      <h1>Atul Kumar</h1>
      <!-- for animated text  -->
      <div> 
        <span class="text first-text">I am a</span>
        <span class="text sec-text">Full Stack developer</span>
      </div>
      <p class="p"> A 3rd year B-Tech student who's passionate about becoming a great software developer. My primary interests lie in competitive programming and development, and I've honed my skills in C++ through solving DSA and logic-based problems. </p>
          <div class="social-media">
              <!-- <a href="https://www.facebook.com/atul1678/" class="media-icon media-facebook"><i class="fa-brands fa-facebook fa-beat-fade fa-2xl"></i></a>
              <a href="https://twitter.com/AtulKum78802355" class="media-icon media-twitter"><i class="fa-brands fa-twitter fa-beat-fade fa-2xl"></i></a> -->
              <a href="https://instagram.com/atul1678kumar?igshid=ZDdkNTZiNTM=" class="media-icon media-instagram"><i class="fa-brands fa-instagram fa-beat-fade fa-2xl"></i></a>
              <a href="https://github.com/1atul0" class="media-icon media-github"><i class="fa-brands fa-github fa-beat-fade fa-2xl"></i></a>
              <a href="mailto:919atul@gmail.com" class="media-icon media-email"><i class="fa-solid fa-envelope fa-beat-fade fa-2xl"></i></a>
              <a href="https://www.linkedin.com/in/atul-kumar-97b701209/" class="media-icon media-linkedin"><i class="fa-brands fa-linkedin fa-beat-fade fa-2xl"></i></a>
          </div>
          <a href="https://drive.google.com/file/d/1BRvabhpcgvoKMDzkUCsgoNJKq-FBm9U9/view?usp=share_link" target="_blank" class="btn home-btn" >
            <button type="button" class="btn btn-success ">
              Download Resume
            </button>
          </a>
  </div>

  <div class="col-lg-5 col-md-12 col-sm-12 home-pic">
      <img src="/images/fotor_2023-4-14_9_57_49.png" alt="no shows" class="home-image">
  </div>
  </div>
</section>



<%- include("partials/footer")%>