<%- include("partials/header")%>
<div>
  <div class="project-header">
    <h1>Projects</h1>
    <hr />
  </div>
  
  <div class="project-content">
    <div class="row justify-content-center ">
      <div class="col-lg-4 col-sm-12">
        <div class="card project-cards">cards</div>
      </div>
      <div class="col-lg-4 col-sm-12">
        <div class="card">cards</div>
      </div>
      <div class="col-lg-4 col-sm-12">
        <div class="card">cards</div>
      </div>
      <div class="col-lg-4 col-sm-12">
        <div class="card">cards</div>
      </div>
      <div class="col-lg-4 col-sm-12">
        <div class="card">cards</div>
      </div>
      <div class="col-lg-4 col-sm-12">
        <div class="card">cards</div>
      </div>
      <div class="col-lg-4 col-sm-12">
        <div class="card">cards</div>
      </div>
      <div class="col-lg-4 col-sm-12">
        <div class="card">cards</div>
      </div>
      <div class="col-lg-4 col-sm-12">
        <div class="card">cards</div>
      </div>
    </div>
  </div>
</div>
<%- include("partials/footer")%>
