<%- include("partials/header")%>
<div>
  <div class="project-header">
    <h1>Projects</h1>
    <hr />
  </div>
  
  <!-- project page content  -->
  <div class="project-content">
    <div class="row justify-content-center ">
      <div class="col-lg-4 col-sm-12">
        <div class=" project-cards">
          <a href="https://gentle-taiyaki-4de66a.netlify.app/" target="_blank" class="project-link">
            <div class="card" >
              <img src="/images/portfolio.png" class="card-img-top project-img" alt="...">
              <div class="card-body">
                <p class="card-text"> portfolio made using Frontend and Backend(node.js,express.js)</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12">
        <div class=" project-cards">
          <a href="https://1atul0.github.io/tindog-web_clone/" target="_blank" class="project-link">
            <div class="card" >
              <img src="/images/tindog.png" class="card-img-top project-img" alt="...">
              <div class="card-body">
                <p class="card-text"> Tindog clone Web-app made using HTML,CSS,Javascript.</p>
              </div>
            </div>
          </a>
        </div>
      </div>

      <!-- <div class="col-lg-4 col-sm-12">
        <div class=" project-cards">
          <a href="https://1atul0.github.io/tindog-web_clone/" target="_blank" class="project-link">
            <div class="card" >
              <img src="/images/tindog.png" class="card-img-top project-img" alt="...">
              <div class="card-body">
                <p class="card-text"> Tindog clone Web-app made using HTML,CSS,Javascript.</p>
              </div>
            </div>
          </a>
        </div>
      </div> -->

      <div class="col-lg-4 col-sm-12">
        <div class=" project-cards">
          <a href="https://1atul0.github.io/simon-game/" target="_blank" class="project-link">
            <div class="card" >
              <img src="/images/simon.png" class="card-img-top project-img" alt="...">
              <div class="card-body">
                <p class="card-text"> Simon game Web-app made using HTML,CSS,Javascript.</p>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-sm-12">
        <div class=" project-cards">
          <a href="https://1atul0.github.io/drum-kit/" target="_blank" class="project-link">
            <div class="card" >
              <img src="/images/drumkit.png" class="card-img-top project-img" alt="...">
              <div class="card-body">
                <p class="card-text"> Drum-Kit play sound Web-app made using HTML,CSS,Javascript.</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      
      <div class="col-lg-4 col-sm-12">
        <div class=" project-cards">
          <a href="https://1atul0.github.io/calculator/" target="_blank" class="project-link">
            <div class="card" >
              <img src="/images/calculator.png" class="card-img-top project-img " alt="...">
              <div class="card-body">
                <p class="card-text"> Calculator  Web-app made using HTML,CSS,Javascript.</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      
      
      
      
      
      
      
    </div>
  </div>
</div>
<%- include("partials/footer")%>
