.body
{
  /* background-image: url(/images/milad-fakurian-GJKx5lhwU3M-unsplash\ \(1\).jpg); */
  background-color: #CED5DF;
  background-repeat: no-repeat;
  background-size: cover;
  text-decoration-color: blue;
  
}
/* for header page*/
.navbar {
  background-color: #9fa5c3;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 20px;
  letter-spacing: 1px;
  text-shadow: #1abc9c;
  font-weight: bold;
}
.nav-link:focus{
  background-color: blue;
}
.nv-brand
{
  font-size: 25px;
  letter-spacing: 5px;
}
.navbar-nav  li a:hover {
  color: #ffffff !important;
}
/* for footer page*/
.footer-padding {
 padding-bottom: 60px; 
}

.footer {
position: fixed;
text-align: center;
bottom: 0;
width: 100%;
height: 60px;
background-color: #383737;
}

.footer p {
margin-top: 25px;
font-size: 12px;
color: #fff;
}


/* home page*/
.home-image
{
  height: 100%;
  width: 100%;
}
/* for text animation  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
}
.container .text{
  position: relative;
  color: #051df3;
  font-size: 30px;
  font-weight: 600;
}
.container .text.first-text{
  color: #000000;
}
@media only screen and (max-width: 600px){
  .container .text.first-text{
    display: block;
  }
}
.text.sec-text:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #CED5DF;
  border-left: 2px solid #57025f;
  animation: animate 4s steps(12) infinite;
}
@keyframes animate{
  40%, 60%{
      left: calc(100% + 4px);
  }
  100%{
      left: 0%;
  }
}




.home-page .p{
  font-size: 22px;
}
.home-page
{
  margin: 5rem 0 5rem 0;
  padding: 3rem 0 3rem 0;
}
.home-content
{
  padding-left: 0;

}
.home-pic
{
 text-align: center;
}
.socila-media
{
  display: inline-block;
  margin: 2rem;
}
.media-icon
{
  padding: 1rem;
  /* color: black; */
  display: inline-block;
}
/* particular color for median icon  */
.media-facebook
{
  color:#3b5998;
}
.media-twitter
{
  color:#1DA1F2;
}
.media-instagram
{
  color:#d748f7;
}
.media-github
{
  color:#333;
}
.media-email
{
  color:#c26421;
}
.media.linkedin
{
  color:#488ef7;
}


.home-btn
{
  padding-top: 2rem;
  padding-left: 0;
  display: inline-block;

}
.home-btn .btn:hover
{
  background-color: blueviolet;
}
@media only screen and (max-width: 600px) {
  .home-page
  {
    margin:3rem 0 5rem 0;
    padding:2rem 0 2rem 0;
  }
  .home-content
  {
    padding-left: 1rem;
  }
  .home-image
  {
    height: 360px;
    width: 360px;
  }
  .home-btn
  {
    display: block;
  }
}

/* about page  */
.about-header
{
  text-align: center;
}
.about
{
  margin: 6rem 0 3rem 0;
}
.about-content
{
  font-size: 22px;
}

@media only screen and (max-width: 600px)
{
  .about{
    margin:4rem 0 3rem 0;

  }
  .about-content
  {
    margin-top: 2rem;
  }
}

/* education page  */
.education-header
{
  text-align: center;
  margin-top: 1rem;
}
.education-content
{
  text-align: center;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.education-content .cards
{
  background-color: #bdbfbf;
  
  margin-top:3rem;
  /* padding: 3rem 2rem 3rem 2rem; */
  padding-top: 2rem;
  padding-bottom: 2rem;

}
.education-content .cards:hover
{
  background-color: #83fae2;

  /* background-image: linear-gradient(to left, #488ef7, #5688fd, #818ed1, #a3a3d8, #d29f9f); */
}
@media only screen and (max-width: 600px) {
  .education-content
  {
    margin-top: 1rem;
  }
  .education-content .cards
{
  background-color: #c9ecef;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
  
}

/* skill page  */
.skill-header
{
  margin-top: 1rem;
  text-align: center;

}
.skill-nav-icon
{
  text-align: center;
  background-color: #D3D3D3;
}
.card
{
  margin-top: 1rem;
}
.skill-development-content ,.skill-cp-content, .skill-coursework-content
{
  margin:4rem 0 4rem 0;
}
.skill-invisible
{
  display: none;
}
.skill-cards
{
  /* height: max-content; */
  background-color: #D3D3D3;
  padding: 3rem;
  margin-bottom: 3rem;
}
.skill-cards:hover{
  background-color: #83fae2;
  /* background-image: linear-gradient(to left, #e7f45a, #cefd56, #b7c2f6, #a3a3d8, #d29f9f); */
}
.skill-image
{
  width: 20%;
  padding: 0.5rem;
}
@media only screen and (max-width: 600px) 
{
  .skill-cards{
    margin-left:1rem;
    margin-right:1rem;
  }
}



/* achivement page  */
.achievement-header
{
  text-align: center;
}
.achievement-content{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}
.achievement-cards
{
  padding: 2rem;
  text-align: center;
  font-size: large;
  margin: 1rem;
  font-weight: 500;
  background-color:  #cdcfd2;
}
.achievement-cards:hover{
  background-color: rgb(248, 238, 135);
}
.achievement-icons
{
  padding:3rem 0 5rem 0;
}



/* project page  */
.project-header{
  text-align: center;
  
}
.project-content
{
  margin-top: 3rem;
}
.project-cards:hover{
  width: 90%;
}
.project-link{
  text-decoration: none;
  font-size: large;
  color: rgb(76, 75, 75);
}
.project-link:hover{
  
}
.project-img{
  border:solid grey;
  border-radius :1px ;
}
@media only screen and (max-width:600px){
  .project-cards{
    margin: 1rem;
  }
}




/* contact page  */

.contact-cards{
  margin: 0;
  padding: 0;
  height: 800px;

}


.contact-cards .pic
{
 background-image: url(/images/2.jpg);
  background-size: cover;
  opacity: 100%;
  height: 800px;
  padding: 10rem 3rem 8rem 8rem;



  
}
.contact-pic-content
{
  color: white;
  padding: 4rem 2rem 0 0rem;
}
.contact-pic-content .box
{
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: row;
}
.contact-icon
{
  margin: 0 2rem 0 1rem;
}
.contact-form
{
  
  margin: 0;
  background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgb(118, 250, 243) 100%);
  height: 800px;
  padding: 3rem 2rem 3rem 2rem;
}
.contact-form h1{
  text-align: center;
}
@media only screen and (max-width: 600px)  {
  .contact-cards .pic{
    padding: 1rem  ;
  }
}
